{% extends 'base.html.twig' %}

{% block title %}Hello Controler2Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<h1> HOW TO GET RICH ?</h1>
  <h2> Step 1 : Be Like YATE </h2> 

<p>
<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2Frakamlar-iin--380694974760866954%2F&psig=AOvVaw1B6kpdjDKypo_2uKoEXWVY&ust=1701969448007000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjx9bSo-4IDFQAAAAAdAAAAABAJ" alt="L'argent de YATE" />
</p>
</div>
{% endblock %}
