{% extends 'base.html.twig' %}

{% block title %}Hello TpController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Mon Composant React </h1>

    <!-- Ajoutez le bouton ici -->
    <button id="monBouton">Cliquez ici</button>

    <div id="mon-composant"></div>

    <h1>Liste des Habitants</h1>
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Sexe</th>
            </tr>
        </thead>
        <tbody>
            {% for habitant in habitants %}
                <tr>
                    <td>{{ habitant.prenom }}</td>
                    <td>{{ habitant.nom }}</td>
                    <td>{{ habitant.age }}</td>
                    <td>{{ habitant.sexe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
